@use "functions" as func;
@use "variables" as var;

@mixin container($padding: 310) {
  $mb-padding: 20;
  max-width: func.container(1920, $padding, $mb-padding);
  padding-left: $mb-padding + px;
  padding-right: $mb-padding + px;
  margin-left: auto;
  margin-right: auto;
}

@mixin btn-primary {
  border-radius: 100px;
  border: 1px solid var(--qizil, #bb2339);
  background: transparent;
  transition: .5s;
  &:hover {
    background: var(--qizil, #bb2339);
    color: var.$white-color;
  }
}
@mixin btn-header {
  padding: 8px 40px;
  border-radius: 100px;
  border: 1px solid var.$white-color;
  background: transparent;
  transition: .5s;
  &:hover {
    background: var.$white-color;
    border: 1px solid #0000005d;
    color: var.$primary-color;
  }
}
